<%- include('../partials/header') %>
<%- include('../partials/subheader') %>

<% if (meditems.length > 0) { %>
<table id="current-stock-table">
    <thead>
        <tr>
            <th>
                <form id="star-toggle-form" action="/current" method="GET">
                    <% if (starChecked) { %>
                        <input type="checkbox" id="star-toggle-btn" name="quickRefFilter" checked>
                    <% } else { %>
                        <input type="checkbox" id="star-toggle-btn" name="quickRefFilter">
                    <% } %>
                </form>

                <!-- <img src="/images/star-outline.svg" alt="" class="star-toggle" id="star-table"> -->
            </th>
            <th>Generic Name</th>
            <th>Dose/Form</th>
            <th>Family</th>
            <th>Nearest Exp.</th>
            <th>Par Level</th>
            <th>Current Stock</th>
        </tr>
    </thead>
    <tbody>
        <% families.forEach((family) => { %>
            <% if (meditems.some(item => item.family === family.name)) { %>
                <tr class="family-header <%= family.class %>">
                    <td colspan="7"><%= family.name %></td>
                </tr>
            <% } %>
            <% meditems.forEach((item) => { %>
                <% if (item.family === family.name) { %>
                    <tr data-id="<%= item.id %>">
                        <td><% if (item.quickRef === true) { %>
                            <img src="/images/star-filled.svg" alt="" class="star-toggle" id="star-table">
                        <% } else { %>
                            <img src="/images/star-outline.svg" alt="" class="star-toggle" id="star-table">
                        <% } %>
                        </td>
                        <td><%= item.genericName %></td>
                        <td><%= item.dose %> <%= item.form %></td>
                        <td><%= item.family %></td>
                        
                        <% let today = new Date(), warningDate = new Date();
                            warningDate.setMonth(today.getMonth() + 1); %>

                        <% if (!item.firstExp) { %>
                            <td>--</td>

                        <% } else {
                            let firstExpDate = new Date(item.firstExp);
                            if (firstExpDate < today) { %>
                                <td class="alert-stock">
                            <% } else if (firstExpDate <= warningDate) { %>
                                <td class="warning-stock">
                            <% } else { %>
                                <td>
                            <% } %>
                            <%= firstExpDate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></td>
                        <% } %>
                        <td><%= item.parLevel %></td>
                        <% if (item.totalStock < item.parLevel) { %>
                            <td class="alert-stock"><%= item.totalStock %></td>
                        <% } else if (item.totalStock <= item.warningLevel) { %>
                            <td class="warning-stock"><%= item.totalStock %></td>
                        <% } else { %>
                            <td><%= item.totalStock %></td>
                            <% } %>
                    </tr>
                <% } %>
            <% }); %>
        <% }); %>
    </tbody>
</table>

<% } else { %>

Sorry, there don't appear to be any items in the system. Click the (+) button at top-right to add some.

<% } %>


<section id="overlay"></section>

<script>
    const overlay = document.getElementById('overlay')
    
    // Open item overlay
    document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('tr[data-id]').forEach(row => {
        row.addEventListener('click', function() {
            const itemId = this.dataset.id;
            fetch(`/current/${itemId}`)
                .then(response => response.text())
                .then(html => {
                    overlay.innerHTML = html;
                overlay.style.display = 'flex'; 
                setTimeout(() => overlay.style.opacity = '1', 10); 
            })
                .catch(err => console.error(err));
        });
    });
});

    // Close overlay
    document.body.addEventListener('click', function(event) {
        if (event.target.id === 'close-text') {
            overlay.style.opacity = '0';
            setTimeout(() => {
                overlay.style.display = 'none';
                overlay.innerHTML = '';
            }, 300);
        }
    });

    // Open edit overlay
    function edit(meditemId) {
        fetch(`/current/${meditemId}/edit`)
                    .then(response => response.text())
                    .then(html => {
                        overlay.innerHTML = html;
                    })
                    .catch(err => console.error(err));         
    }

    // Confirm delete
    function confirmDelete(meditemId) {
        if (confirm('Are you sure you want to delete this item?')) {
            fetch(`/current/${meditemId}`, { method: 'DELETE' })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/current';
                    } else {
                        alert('An error occurred while deleting the item.');
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        }
    }

    // Open deplete overlay
    function depleteStock(stockId, meditemId) {
        fetch(`/log/${meditemId}/stock/${stockId}/deplete`)
            .then(response => response.text())
            .then(html => {
                overlay.innerHTML = html;
                overlay.style.display = 'flex'; 
                    setTimeout(() => overlay.style.opacity = '1', 10); 
                    })
            .catch(err => console.error(err));
    }
    
    // QuickRef filter
    let quickRefFilterIsChecked = false;
    const starToggleForm = document.getElementById('star-toggle-form');
    const starToggleBtn = document.getElementById('star-toggle-btn');
    starToggleBtn.addEventListener('change', toggleStarFilter)

    function toggleStarFilter() {
        if (!quickRefFilterIsChecked) {
            setTimeout(() => {
                quickRefFilterIsChecked = true
                starToggleForm.submit();
            }, 10);
        } else {
            setTimeout(() => {
                quickRefFilterIsChecked = false
                starToggleForm.submit();
            }, 10);
        }
    }


</script>


<%- include('../partials/footer') %>