<%- include('../partials/header') %>
<%- include('../partials/subheader') %>

<table id="current-stock-table">
    <thead>
        <tr>
            <th></th>
            <th>Brand Name</th>
            <th>Generic Name</th>
            <th>Dose</th>
            <th>Family</th>
            <th>Nearest Exp.</th>
            <th>Par Level</th>
            <th>Current Stock</th>
        </tr>
    </thead>
    <tbody>
        <% meditems.forEach((item) => { %>
            <tr>
                <td><img src="/images/star-outline.svg" alt="" class="star-toggle" id="star-table"></td>
                <td><a href="/current/<%= item.id %>"><%= item.brandName %></a></td>
                <td><%= item.genericName %></td>
                <td><%= item.dose %></td>
                <td><%= item.family %></td>
                <td><%= new Date(item.firstExp).toLocaleDateString('en-US', { month: 'short', year: 'numeric' }) %></td>
                <td><%= item.parLevel %></td>
                <td><%= item.totalStock %></td>
            </tr>
       <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>