<%- include('../partials/header') %>
<%- include('../partials/subheader') %>

<% if (meditems.length > 0) { %>
<table id="current-stock-table">
    <thead>
        <tr>
            <th></th>
            <th>Generic Name</th>
            <th>Dose/Form</th>
            <th>Family <img src="/images/filter.svg" alt="" id="filter-icon"></th>
            <th>Nearest Exp.</th>
            <th>Par Level</th>
            <th>Current Stock</th>
        </tr>
    </thead>
    <tbody>
        <% meditems.forEach((item) => { %>
            <tr data-href="/current/<%= item.id %>">
                <td><img src="/images/star-outline.svg" alt="" class="star-toggle" id="star-table"></td>
                <td><%= item.genericName %></td>
                <td><%= item.dose %> <%= item.form %></td>
                <td><%= item.family %></td>
                <td><%= new Date(item.firstExp).toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></td>
                <td><%= item.parLevel %></td>
                <td><%= item.totalStock %></td>
            </tr>
       <% }) %>
    </tbody>
</table>

<% } else { %>

Sorry, there don't appear to be any items in the system. Click the (+) button at top-right to add some.

<% } %>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.querySelectorAll('tr[data-href]');

        rows.forEach(function(row) {
            row.addEventListener('click', function() {
                window.location.href = this.dataset.href;
            });
        });
    });
</script>


<%- include('../partials/footer') %>