
star
<%= meditem.family %>
<%= meditem.brandName %>
<%= meditem.genericName %>
<%= meditem.dose %> <%= meditem.form %>
1 unit = <%= meditem.perUnit %>

<table>
    <thead>
        <tr>
            <th>Lot No.</th>
            <th>Exp. Date</th>
            <th>Current Stock</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% meditem.inStock.forEach((stock) => { %>
            <tr>
                <td><%= stock.lotNo %></td>
                <td><%= new Date(stock.expDate).toLocaleDateString('en-US', { month: 'short', year: 'numeric' }) %></td>
                <td><%= stock.stock %></td>
                <td><button onclick="addStock('<%= stock._id %>', '<%= meditem._id %>')">+</button></td>
                <td><button onclick="depleteStock('<%= stock._id %>', '<%= meditem._id %>')">-</button></td>
                <td><a href="#" onclick="quickDelete('<%= stock._id %>', '<%= meditem._id %>')">Delete</a></td>
            </tr>
       <% }) %>
       <tr>
        <td></td>
        <td>TOTAL STOCK</td>
        <td><%= meditem.totalStock %></td>
       </tr>
    </tbody>
</table>

<form action="/current/<%= meditem._id %>/stock" method="POST">
    Lot No.: <input type="text" name="lotNo">
    Expiration Date: <input type="month" name="expDate" value="<%= futureDate %>">
    Units added to stock: <input type="text" name="stock" required>
    <button type="submit">Add Stock</button>
</form>

par: <%= meditem.parLevel %>
Notes: <%= meditem.notes %>


 

    <a href="#" onclick="edit('<%= meditem._id %>')">Edit</a>
    <a href="#" onclick="confirmDelete('<%= meditem._id %>')">Delete</a>

    <script>
        function edit(meditemId) {
            window.location.href = `/current/${meditemId}/edit`;
        }

        function confirmDelete(meditemId) {
            if (confirm('Are you sure you want to delete this item?')) {
                fetch(`/current/${meditemId}`, { method: 'DELETE' })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = '/current';
                        } else {
                            alert('An error occurred while deleting the item.');
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }
        }

        function quickDelete(stockId, meditemId) {
            fetch(`/current/${meditemId}/stock/${stockId}`, { method: 'DELETE' })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert('An error occurred while deleting the stock.');
                    }
                })
            .catch(err => {
                console.error('Error:', err);
            });
        }

        function addStock(stockId, meditemId) {
            window.location.href = `/current/${meditemId}/stock/${stockId}/add`;
        }

        function depleteStock(stockId, meditemId) {
            window.location.href = `/current/${meditemId}/stock/${stockId}/deplete`;
        }

    </script>