<%- include('../partials/header') %>

<div id="order-intro">

    <h1>Order Needs</h1>
    
</div>

<% if (meditems.length > 0 && meditems.some(item => item.orderRec)) { %>
    <div class="order-needs-text">
        Consider ordering the following items.
    </div>

    <table id="order-table">
        <thead>
            <tr>
                <th>Generic Name</th>
                <th>Dose/Form</th>
                <th>Nearest Exp.</th>
                <th>Par Level</th>
                <th>Current Stock</th>
            </tr>
        </thead>
        <tbody>
            <% meditems.forEach((item) => {
                if (item.orderRec) { %>
                    <tr>
                        <td><%= item.genericName %></td>
                        <td><%= item.dose %> <%= item.form %></td>
                        <% if (!item.firstExp) { %>
                            <td>--</td>
                        <% } else { %>
                            <td>
                                <% let firstExpDate = new Date(item.firstExp); %>
                                <%= firstExpDate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %>
                            </td>
                        <% } %>
                        <td><%= item.parLevel %></td>
                        <td><%= item.totalStock %></td>
                    </tr>
                <% } %>
            <% }); %>
        </tbody>
    </table>
    
    <% } else { %>
    
    <div class="order-needs-text">
        <br>
        No order needs at this time!
    
    </div>
    
    <% } %>

<%- include('../partials/footer') %>