<div id="overlay-top-container">
    <div id="family-container">
        Add Stock
    </div>
    <div id="close-container">
        <p id="close-text">Cancel [X]</p>
    </div>
</div>

<div id="inout-main">

    <div id="inout-info-area">
        <div id="inout-item-container">
            <div id="inout-name-container">
                <%= meditem.genericName %>,
            </div>
            <div id="inout-doseform-container">
                <%= meditem.dose %> <%= meditem.form %>
            </div>
        </div>
        <div id="inout-lotno-container">
            Lot no. <%= stock.lotNo %>
        </div>
    </div>

    <div id="inout-form-area">
        <form action="/log/<%= meditem._id %>/stock/<%= stock._id %>" method="POST" id="inout-add-form">
            <div id="inout-numsubmit-container">
                <input type="number" name="inout" id="inout-input" placeholder="# units to add" autofocus required>
                <button type="submit" id="form-submit-btn">Add Stock</button>
            </div>

            <div id="inout-unit-container">
                (1 unit = <%= meditem.perUnit %>)
            </div>

            <div id="inout-note-container">
                <input type="text" name="note" id="note-input" placeholder="Notes, if any">
            </div>
        </form>
    </div>

</div>