Add stock

<%= meditem.brandName %>
<%= meditem.genericName %>
<%= meditem.dose %>

<%= stock.lotNo %>


<form action="/current/<%= meditem._id %>/stock/<%= stock._id %>" method="POST">
   Add: <input type="number" name="addedStock" min="0" required> units

    <button type="submit">Add Stock</button>
</form>
